[submodule "themes/compost"]
	path = themes/compost
	url = https://github.com/canstand/compost.git
[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
